<div class="row">
  <div class="col-md-6">
    <h3><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization with Spreadsheets</a></h3>
    <ul>
	    <li>Formatting data tables in Spreadsheets</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Quality control</li>
      <li>Exporting data</li>
    </ul>
  </div>
  <div class="col-md-6">
	  <h3><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">Data Cleaning with OpenRefine</a></h3>
    <ul>
      <li>Working with OpenRefine</li>
      <li>Filtering and Sorting with OpenRefine</li>
      <li>Examining Numbers in OpenRefine</li>
      <li>Scripts from OpenRefine</li>
      <li>Exporting and Saving Data from OpenRefine</li>
      <li>Other Resources in OpenRefine</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
	  <h3><a href="http://www.datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R</a></h3>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Data Types and Formats</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li>R and Databases</li>
    </ul>
  </div>
  <div class="col-md-6">
	  <h3><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></h3>
    <ul>
      <li>Databases using SQL</li>
      <li>Basic Queries</li>
      <li>SQL Aggregation</li>
      <li>Joins and aliases</li>
    </ul>
  </div>
</div>

